<div class="container p-5" *ngIf="tableVisibility">
    <!-- Tabela dos dados -->
    <div class="border border-light rounded p-2">
        <div class="">
            <button type="button" class="btn btn-sm btn-secondary" (click)="ShowForm()">Nova Pessoa</button>
        </div>

        <hr />

        <table class="table table-striped table-hover table-sm" *ngIf="persons else loading">
            <!-- Cabeçalho da tabela -->
            <tr class="thead-light">
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Idade</th>
                <th>Profissão</th>
                <th>Ações</th>

            </tr>
            <!-- conteúdo -->
            <tr *ngFor="let person of persons">
                <td>{{person.name}}</td>
                <td>{{person.lastName}}</td>
                <td>{{person.age}}</td>
                <td>{{person.profession}}</td>
                <td>
                    <button type="button" class="btn btn-sm btn-outline-info"
                        (click)="UpdatePerson(person.id)">Alterar</button>
                </td>
                <td>
                    <button type="button" class="btn btn-sm btn-outline-danger" 
                    (click)="ShowDeleteModal(person.id, person.name, 
                    person.lastName, contentModal)">Excluir</button>
                </td>
            </tr>
        </table>
        <ng-template #loading>
            <span>Carregando pessoas...</span>
        </ng-template>
    </div>
</div>

<div class="container p-5 text-center" *ngIf="formVisibility">
    <!-- Formulário de Cadastro -->
    <div class="container-sm text-center">
        <div class="border border-light rounded p-5 shadow" *ngIf="form">
            <h6 class="text-center strong">{{formTitle}}</h6>
            <hr />
            <form [formGroup]="form" (ngSubmit)="SendPerson()">
                <div class="form-group">
                    <!-- Inputs do formulário -->
                    <label>Nome:</label>
                    <input type="text" class="form-control form-control-sm" formControlName="name" />
                </div>

                <div class="form-group">
                    <label>Sobrenome:</label>
                    <input type="text" class="form-control form-control-sm" formControlName="lastName" />
                </div>

                <div class="form-group">
                    <label>Idade:</label>
                    <input type="number" class="form-control form-control-sm" formControlName="age" />
                </div>

                <div class="form-group">
                    <label>Profissão:</label>
                    <input type="text" class="form-control form-control-sm" formControlName="profession" />
                </div>
                <!--- Botões -->
                <div class="container">
                    <div class="text-center p-2">
                        <div class="row p-2">
                            <button type="submit" class="btn btn-sm btn-outline-secondary">Salvar</button>
                        </div>
                        <div class="row p-2">
                            <button type="button" class="btn btn-sm btn-light" (click)="HideForm()">Voltar</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<!-- Modal -->
<ng-template #contentModal>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Confirmação de Exclusão</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Deseja mesmo excluir {{name}} {{lastName}}?
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modalRef.hide()">Não</button>
        <button type="button" class="btn btn-outline-danger" (click)="DeletePerson(id)">Sim</button>

    </div>
  </ng-template>